<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lt.eimantas.dao.mybatis.SandelisMapper">

    <resultMap id="SandelisResultMap" type="lt.eimantas.dao.mybatis.SandelisModel">
        <id property="id" column="id"/>
        <result property="pavadinimas" column="pavadinimas"/>
        <result property="adresas" column="adresas"/>
    </resultMap>

    <select id="findAll" resultMap="SandelisResultMap">
        SELECT id, pavadinimas, adresas
        FROM SANDELIS
    </select>

    <insert id="insert" parameterType="lt.eimantas.dao.mybatis.SandelisModel">
        INSERT INTO SANDELIS (pavadinimas, adresas)
        VALUES (#{pavadinimas}, #{adresas})
    </insert>

</mapper>

